@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@font-face { /* fonte principal */
    font-family: 'principal';
    src: url('fontes/WorldDiscovery_PERSONAL_USE_ONLY.otf') format(opentype);
    font-weight: normal;
}

@font-face { /* fonte destaque */
    font-family: 'destaque';
    src: url('fontes/CaviarDreams.ttf') format(opentype);
    font-weight: normal;
}


*{
    margin: 0px;
    padding: 0px;
}


:root{
    --fonte-padrao: 'courier new', georgia, sans-serif, helvetica; 
    --fonte-principal: 'principal', serif;
    --fonte-destaque: 'destaque', serif;


    --cor0: rgb(255, 194, 194);
    --cor1: rgb(255, 0, 0);
    --cor2: rgb(71, 0, 0);
    --cor3: rgb(26, 0, 0); 
}


body{
    height: 100vh;
    background-image: linear-gradient(to right, var(--cor3), var(--cor1), var(--cor3));

    /*
    background-image: url(imagens/imagem-de-fundo.jpeg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    background: black url(imagens/imagem-de-fundo.jpeg) left top no-repeat cover fixed;*/
}


header{
    background-color: black;

    min-height: 150px;
    padding-top: 70px;
}

header > h1{
    text-align: center;

    font-size: 7em;
    font-family: var(--fonte-principal);
    color: white;
    text-shadow: 2px 5px 3px var(--cor1);
    font-style: italic;
    padding-bottom: 30px;
}


nav{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    box-shadow: 2px 5px 6px rgba(255, 0, 0, 0.045);
}

nav a{
    padding: 20px;
    margin: 0px 10px;

    background-color: rgba(105, 105, 105, 0.384);
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: white;
    color: var(--cor1);
}


main{
    max-width: 800px;
    min-width: 280px;

    background-color: white;

    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 5px 10px 1px var(--cor2);

    padding: 30px;
    margin: auto;

    font-family: var(--fonte-padrao);
}


main > h1{
    font-family: var(--fonte-destaque);
    font-size: 4em;
    text-align: center;

    padding: 20px;
}

main > h2{
    font-size: 2.5em;
    text-align: center;
    font-family: var(--fonte-destaque);
    text-indent: 30px;

    margin: 40px 0px;

    background-image: linear-gradient(to right, var(--cor0), transparent);
    border-radius: 10px;
    padding: 10px;
}

main > h3{
    font-family: var(--fonte-padrao);
    margin: 20px 0px;

    text-align: center;
}

main > h4{
    margin: 35px 0px 10px 0px;

    text-align: center;
}


main > picture > img{
    width: 100%;
}


main a{
    color: var(--cor1);
    text-decoration: none;
    font-weight: bolder;
}

main a:hover{
    text-decoration: underline;
}

main a:visited{
    color: rgb(206, 0, 0);
}

main a:active{ 
    background-color: var(--cor0);
    color: rgb(255, 255, 255);
}


main p{
    text-align: center; 
    font-size: 1.2em;
    text-indent: 20px;
    line-height: 1.5em;
}


footer{
    background-color: black;
    color: white;

    font-size: 1.2em;
    font-weight: bold;

    padding: 3px;
    margin-top: 10px;
}


footer p{
    font-size: 0.9em;
    text-align: center;
}

footer > p:hover{
    text-decoration: underline;
}


mark{
    background-color: rgba(255, 0, 0, 0.733);
    color: rgb(36, 0, 0);
}


ul{
    padding: 10px;

    text-align: left;
    font-size: 1.2em;
    line-height: 2em;
}


div.container, div.h3{ /* Vou configurar o pocicionamento das outras div*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.filho{
    height: 150px;
    width: 190px;
    margin-right: 10px;

    font-size: 2em;
    text-align: center;
    line-height: 150px;
    
    background-color: var(--cor0);

    border-radius: 80px;
    border: 2px solid black;
}

div.filho:hover { /* Quando o mouse passar por cima*/
    font-family: 'Times New Roman', serif;
    cursor: pointer;
}

div#tri:hover{ 
    background-color: var(--cor1);
}

div#co:hover{
    background-color: white;
    color: black;
}

div#lor:hover{
    background-color: black;
    color: white;

    border: 2px solid var(--cor1);
}


ins.ins-titulos-index:hover{
    color: var(--cor1);
}

ins.ins-elenco:hover{
    background-color: black;
    color: aliceblue;
    font-size: 30px;
}

ins.ins-idolos:hover{
    background-color: black;
    color: aliceblue;
    font-size: 30px;
}


hr{
    margin: 20px 0px;
}


section{
    padding-top: 20vh;
    padding-bottom: 20vh;
}

section.imagem{
    background-color: darkgray;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

section.imagem > ul{ /* Textos dentro das imagens */
    display: inline-block;
    padding: 15px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(imagens/imagem.wendell.png);
}

section#img02{
    background-image: url(imagens/imagem.alanfranco.webp);
}

section#img03{
    background-image: url(imagens/imagem.oscar.webp);
}